
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800italic,800,700italic,700,400italic,300italic,300);

@font-face {
    font-family: 'MTF JanaG';
    url('../fonts/MTF JanaG.ttf') format('truetype');
}

*{
    margin:0;
    padding:0;
}

body {
    background: url('../images/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 768px;


    width:5729px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}

.expiration_date{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 10px;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    background: rgba(29,150,146,0.81);
    background: -moz-linear-gradient(left, rgba(29,150,146,0.81) 0%, rgba(29,150,146,0.8) 0%, rgba(29,150,146,0.8) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,150,146,0.81)), color-stop(0%, rgba(29,150,146,0.8)), color-stop(100%, rgba(29,150,146,0.8)));
    background: -webkit-linear-gradient(left, rgba(29,150,146,0.81) 0%, rgba(29,150,146,0.8) 0%, rgba(29,150,146,0.8) 100%);
    background: -o-linear-gradient(left, rgba(29,150,146,0.81) 0%, rgba(29,150,146,0.8) 0%, rgba(29,150,146,0.8) 100%);
    background: -ms-linear-gradient(left, rgba(29,150,146,0.81) 0%, rgba(29,150,146,0.8) 0%, rgba(29,150,146,0.8) 100%);
    background: linear-gradient(to right, rgba(29,150,146,0.81) 0%, rgba(29,150,146,0.8) 0%, rgba(29,150,146,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d9692', endColorstr='#1d9692', GradientType=1 );
}

section{
    margin:0px;
    bottom:0px;
    float:left;
    height: 646px;
    position: relative;
}
.section {
    width:1200px;
}

#logo {
    margin-top: 20px;
    position: absolute;
    left: 450px;
}
#logos {
    margin-top: -500px;
    margin-left: -150px;
}

#section1{
    text-align: center;
}

.cinta1 {
    margin-top: 160px;
}

.cinta2 {
    margin-top: 230px;
}

.cinta3 {
    margin-top: -6px;
    position: absolute;
    z-index: 1;
}

.cinta4 {
    margin-top: 180px;
    float: right;
}
.cinta5 {
    margin-top: 13px;
}

.cinta6 {
    margin-top: 182px;
}

.cinta7 {
    margin-top: 16px;
    margin-left: -5px;
}


.cinta_roja {
    background-color: #ce383f;
    height: 80px;
    width: 100%;
    bottom: 60px;
    position: absolute;
}

.container_publicidad {
    padding-left: 20%;
    vertical-align: middle;
    text-align: center;
}
.container_publicidad img{
    float: left;
}
.donacion{
    vertical-align: middle;
    margin: 10px 10px;
    width: 450px;
}

.rollo {
    display: inline-block;
    margin-top: -80px;
    width: 230px;
}

.rollo_sm {
    display: inline-block;
    margin-top: -30px;
    width: 160px;
}

.next {
    position: absolute;
    right: 70px;
    display: block;
    top: 235px;
}

.prev {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
    line-height: 80px;
    margin-left: 20px;
}


.nino_futuro {
    display: inline-block;
    position: absolute;
    top: -125px;
    right: 240px;
}

.anuncio {
    margin-top: 35px;
    font-size: 16px;
    text-align: center;
    color: #0d5653;
}
.anuncio p{
    margin: 10px auto;
    max-width: 750px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}

.interval{
    width: 310px;
}

#combos{
    margin-top: -240px;
}

#puzzle {
    width: 370px;
    height: 370px;
    float: right;
    right: 515px;
    top: -470px;
    cursor: pointer;
    position: relative;
    background-color: #c3fffd;
    padding: 8px;

    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.55);
}

#puzzle_mask {
    cursor: pointer;
    height: 370px;
    line-height: 370px;
    position: absolute;
    right: 513px;
    text-align: center;
    top: 176px;
    width: 370px;
    z-index: 999;

    background: rgba(33,2,9,0.33);
    background: -moz-linear-gradient(left, rgba(33,2,9,0.33) 0%, rgba(33,2,9,0.34) 0%, rgba(33,2,9,0.34) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,2,9,0.33)), color-stop(0%, rgba(33,2,9,0.34)), color-stop(100%, rgba(33,2,9,0.34)));
    background: -webkit-linear-gradient(left, rgba(33,2,9,0.33) 0%, rgba(33,2,9,0.34) 0%, rgba(33,2,9,0.34) 100%);
    background: -o-linear-gradient(left, rgba(33,2,9,0.33) 0%, rgba(33,2,9,0.34) 0%, rgba(33,2,9,0.34) 100%);
    background: -ms-linear-gradient(left, rgba(33,2,9,0.33) 0%, rgba(33,2,9,0.34) 0%, rgba(33,2,9,0.34) 100%);
    background: linear-gradient(to right, rgba(33,2,9,0.33) 0%, rgba(33,2,9,0.34) 0%, rgba(33,2,9,0.34) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210209', endColorstr='#210209', GradientType=1 );
}

#puzzle_mask span {
    color: #FFFFFF;
    background-color: #9c5e60;
    padding: 25px 55px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}

.time_container {
    font-family: 'MTF JanaG','Merriweather Sans', sans-serif;
    font-size: 22px;
    position: absolute;
    top: 240px;
    left: 58%;
}

/*
* Ventana modal de registro
*/

.modalTitle{
    color: #ce383f;
    font-size: 24px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 30px auto 15px auto !important;
}

.modal-header {
    border-bottom: 0;
}
.modal-body{
    color: #575757;
    margin-bottom: 70px;
}

.hr-modal{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #999999;
}

#msg-puzzle-result{
    font-size: 20px;
    font-family: 'Myriad Pro', sans-serif;
    text-align: center;
}

#tryagain{
    color: #1e9c98;
    cursor: pointer;
}

.header-content{
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

.contact-form{
    margin: 60px 10% 10px 10%;
}
.contact-form label{
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0px;
    font-weight: normal;
}

.btn-send {
    color: #FFFFFF;
    background-color: #ce383f;
    padding: 10px 50px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}
.btn-send:hover {
    color: #FFFFFF;
}

.form-control{
    background-color: #e3f8f7;
    border: 0px solid #e3f8f7;
    border-radius: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
}

#display_errors{
    color: #ce383f;
}

.close {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    margin-right: -60px;
    margin-top: -30px !important;
    opacity: 1;
    text-shadow: 0 0px 0 #fff;
}

.modal-dialog{
     margin-top: 10% !important;
 }

.bloading {
    background-image:url(../images/bloading.gif);
    width:32px;
    height:32px;
}

label.error {
    font-size: 14px;
    font-family: sans-serif;
    color: #ce383f;
}

#restart_game {
    font-size: 31px;
    margin-top: 10px;
    /*margin-left: 3px;*/
    color: #444444;
    cursor: pointer;
    display: none;
}

.popover{
    font-size: 14px;
    width: 150px;
}

